<button type="submit" class="p-2 bg-black dark:bg-white text-white dark:text-black mb-10 font-monserrat font-light rounded mt-2 dark:hover:bg-[#d9d9d9] hover:bg-[#121212]" data-i18n="contact.button"></button>

