---
interface Props {
    label: string;
    inputId: string;
}

const { label, inputId } = Astro.props;
---

<label for={inputId} class="text-black dark:text-white font-montserrat text-[18px] mt-[10px]" data-i18n={label}></label>
