---
import MainH3 from "../../../components/MainH3.astro"
import SvgUrl from "./SvgUrl.astro";
import SvgGithub from "../../../components/projects/components/SvgGithub.astro";
---

<div class="flex mt-4">
    <img src="/src/assets/frontInelar.svg" alt="" class="w-[500px] h-[180px] rounded">
    <div class="ml-4">
        <MainH3 title="projects.titleInelar" />
        <p class="font-montserrat text-black dark:text-white text-normal text-sm mt-2" data-i18n="projects.description"></p>
        <div class="flex mt-2">
            <div class="border border-contenedor rounded text-center mr-[15px] w-[80px] p-1">
                <p class="text-black dark:text-white font-montserrat text-xs">NextJs</p>
            </div>
            <div class="border border-contenedor rounded text-center mr-[15px] w-[80px] p-1">
                <p class="text-black dark:text-white font-montserrat text-xs">NodeJs</p>
            </div>
            <div class="border border-contenedor rounded text-center mr-[15px] w-[80px] p-1">
                <p class="text-black dark:text-white font-montserrat text-xs">ExpressJs</p>
            </div>
            <div class="border border-contenedor rounded text-center mr-[15px] w-[80px] p-1">
                <p class="text-black dark:text-white font-montserrat text-xs">MongoDB</p>
            </div>
        </div>
        <div class="flex">
            <div class="bg-black p-2 rounded cursor-pointer border border-contenedor mt-6 w-[35px] h-[35px] flex items-center justify-center">
                <SvgUrl />
            </div>
            <div class="bg-black p-2 rounded cursor-pointer border border-contenedor mt-6 w-[35px] h-[35px] flex items-center justify-center ml-[15px]">
               <SvgGithub />
            </div>
        </div>
    </div>
</div>

