---
import MainH3 from "../../../components/MainH3.astro";
import SvgUrl from "./SvgUrl.astro";
import SvgGithub from "../../../components/projects/components/SvgGithub.astro";
---

<div class="border border-contenedor mt-2 rounded dark:bg-black">
    <div class="flex flex-col md:flex-row">
        <img
            src="/src/assets/frontInelar.svg"
            alt=""
            class="w-full h-auto md:w-[50%] rounded object-fit object-contain"
        />

        <!-- Contenido del proyecto, ahora debajo de la imagen en mobile -->
        <div class="mt-4 md:mt-0 md:ml-4">
            <MainH3 title="projects.titleInelar" />
            <p
                class="font-montserrat text-black dark:text-white text-sm mt-2"
                data-i18n="projects.description"
            ></p>

            <div class="flex flex-wrap mt-3">
                <div
                    class="border border-black dark:border-white rounded text-center p-1 w-[80px] mr-2 mb-2"
                >
                    <p class="text-black dark:text-white font-montserrat text-xs">
                        NextJs
                    </p>
                </div>
                <div
                    class="border border-black dark:border-white rounded text-center p-1 w-[80px] mr-2 mb-2"
                >
                    <p class="text-black dark:text-white font-montserrat text-xs">
                        NodeJs
                    </p>
                </div>
                <div
                    class="border border-black dark:border-white rounded text-center p-1 w-[80px] mr-2 mb-2"
                >
                    <p class="text-black dark:text-white font-montserrat text-xs">
                        ExpressJs
                    </p>
                </div>
                <div
                    class="border border-black dark:border-white rounded text-center p-1 w-[80px] mr-2 mb-2"
                >
                    <p class="text-black dark:text-white font-montserrat text-xs">
                        MongoDB
                    </p>
                </div>
            </div>

            <div class="flex mt-4">
                <div
                    class="hover:bg-[#2d2d2d] bg-black p-2 rounded cursor-pointer border border-contenedor w-[35px] h-[35px] flex items-center justify-center"
                >
                    <SvgUrl />
                </div>
                <div
                    class="hover:bg-[#2d2d2d] bg-black p-2 rounded cursor-pointer border border-contenedor w-[35px] h-[35px] flex items-center justify-center ml-4"
                >
                    <SvgGithub />
                </div>
            </div>
        </div>
    </div>
</div>
