---
import MainH2 from "../components/MainH2.astro"
---

<section class="pl-6 mt-[100px]">
    <MainH2 title="aboutme.title" />
    <div class="mt-1">
        <p class="font-montserrat text-white" data-i18n="aboutme.description"></p>
    </div>
</section>

