---
import MainH2 from "../components/MainH2.astro"
---

<section class="pl-6 mt-[200px]" id="about-me">
    <MainH2 title="aboutme.title" />
    <div class="mt-1">
      <div>
        <p class="font-montserrat text-black dark:text-white" data-i18n="aboutme.description"></p>
      </div>
      <img src="" alt="" />
    </div>
</section>

