---
import MainH2 from "../components/MainH2.astro"
import Label from "../components/contact/components/Label.astro"
import Input from "../components/contact/components/Input.astro"
import Textarea from "../components/contact/components/Textarea.astro"
import ButtonContact from "../components/contact/components/buttonContact.astro"
import SvgLinkedin from "../components/SvgLinkedin.astro"
import SvgGithub from "../components/SvgGithub.astro"
import { getLangFromUrl, useTranslations } from '../i18n/utils';

const lang = getLangFromUrl(Astro.url);
const t = useTranslations(lang);
---

<section class="pl-6 mt-[60px]">
    <MainH2 title={t('contact.title')}/>
    <div class="flex">
        <div class="w-[750px]">
            <form action="" class="flex flex-col">
                <Label label={t('contact.email')}/>
                <Input />
                <Label label={t('contact.message')}/>
                <Textarea />
                <ButtonContact />
            </form>
        </div>
        <div>
            <div class="bg-contenedor p-2 rounded cursor-pointer mt-[30px] ml-[60px] border border-contenedor w-[48px]">
                <SvgLinkedin />
            </div>
            <div class="bg-contenedor p-2 rounded cursor-pointer mt-[28px] ml-[60px] border border-contenedor w-[48px]">
                <SvgGithub />
            </div>
        </div>
    </div>
</section>

