---
import MainH2 from "../components/MainH2.astro"
import Label from "../components/Label.astro"
import Input from "../components/Input.astro"
import Texarea from "../components/Textarea.astro"
import ButtonContact from "../components/buttonContact.astro"
---

<section class="pl-6 mt-[60px]">
    <MainH2 title="Contact"/>
    <div class="flex">
        <div class="w-[750px]">
            <form action="" class="flex flex-col">
                <Label label="Email"/>
                <Input />
                <Label label="Message"/>
                <Texarea />
                <ButtonContact />
            </form>
        </div>
        <div>
            <div class="bg-contenedor p-2 rounded">
            </div>

        </div>
    </div>
   
</section>