---
---

<section class="mt-16 pl-5" id="home">
    <div class="font-montserrat font-bold text-black dark:text-white relative mb-[110px]">
        <div class="relative border-b-[8px] border-light dark:border-celeste absolute w-screen right-0">
            <h1 class="inline-block text-[50px] leading-none mb-2">Juan Cruz Leone</h1>
        </div>
        <p class="text-black dark:text-white font-montserrat text-[20px] font-semibold mt-3" data-i18n="home.role"></p>
    </div>
    <a href="#contact" data-i18n="home.buttonContact" class="hover:bg-[#2d2d2d] hover:dark:bg-[#2d2d2d] bg-black dark:border-white border rounded text-white dark:text-white dark:bg-black p-2"></a>
</section>
