---
---

<section class="mt-16 pl-5" id="home">
    <div class="font-montserrat font-bold text-black dark:text-white relative">
        <div class="relative border-b-[8px] border-celeste absolute w-screen right-0">
            <h1 class="inline-block text-[50px] leading-none mb-2" data-i18n="home.name"></h1>
        </div>
        <p class="text-black dark:text-white font-montserrat text-[20px] font-semibold mt-3" data-i18n="home.role"></p>
    </div>
</section>