---
import { getLangFromUrl, useTranslations } from '../i18n/utils';
import { ui, defaultLang } from '../i18n/ui';


const urlLang = getLangFromUrl(Astro.url);
const lang = urlLang || defaultLang;
const t = useTranslations(lang);
---

<section class="mt-16 pl-5" id="home">
    <div class="font-montserrat font-bold text-black dark:text-white relative mb-[110px]">
        <div class="relative border-b-[8px] border-light dark:border-celeste absolute w-screen right-0">
            <h1 class="inline-block text-[35px] md:text-[50px] leading-none mb-2">Juan Cruz Leone</h1>
        </div>
        <p class="text-black dark:text-white font-montserrat text-[20px] font-semibold mt-3" data-i18n="home.role">
            {t('home.role')}
        </p>
    </div>
    <a
        href="#contact"
        class="relative overflow-hidden group bg-black dark:border-white border rounded text-white dark:text-white dark:bg-black p-2 inline-block"
    >
        <span class="absolute inset-0 bg-white -translate-x-full group-hover:translate-x-0 transition-transform duration-300 ease-in-out"></span>
        <span class="relative z-10 group-hover:text-black transition-colors duration-300" data-i18n="home.buttonContact">{t('home.buttonContact')}</span>
    </a>
</section>
