---
---

<section class="mt-16 pl-5">
    <div class="font-montserrat font-bold text-white relative">
        <div class="relative border-b-[8px] border-celeste absolute w-screen right-0">
            <h1 class="inline-block text-[55px] leading-none mb-2">Juan Cruz Leone</h1>
        </div>
        <p class="text-white font-montserrat text-[28px] font-semibold mt-4">Fullstack developer</p>
    </div>
</section>

