---
import Header from "../components/Header.astro";
import Sobremi from "../components/Sobremi.astro";
import Habilidades from "../components/Habilidades.astro";
import Proyectos from "../components/Proyectos.astro";
import Contacto from "../components/Contacto.astro";
import Footer from "../components/Footer.astro";
---

<html lang="es">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>Juan Cruz Leone | Portfolio</title>
	</head>
	<body class="bg-[#0A0A0A]">
		<Header />
		<Sobremi />
		<Habilidades />
		<Proyectos />
		<Contacto />
		<Footer />
	</body>
</html>
