---
import Header from "../components/Header.astro";
import Aboutme from "../components/Aboutme.astro";
import Skills from "../components/Skills.astro";
import Proyects from "../components/Projects.astro";
import Contact from "../components/Contact.astro";
import Footer from "../components/Footer.astro";
---

<html lang="es">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<meta name="description" content="Portfolio personal de Juan Cruz Leone, desarrollador web frontend " />
		<title>Juan Cruz Leone | Portfolio</title>
	</head>
	<body class="bg-[#0A0A0A]">
		<Header />
		<Aboutme />
		<Skills />
		<Proyects />
		<Contact />
		<Footer />
	</body>
</html>
