---
import MainH2 from "../components/MainH2.astro"
---

<section class="pl-6 mt-[60px]">
    <MainH2 title="Projects"/>
    <div class="flex mt-4">
        <div class="bg-[#1d1d1d] p-2 w-[380px] rounded h-[180px]">

        </div>
        <div>

        </div>
    </div>
</section>