---
import MainH2 from "../components/MainH2.astro";
import ProjectInelar from "../components/projects/components/ProjectInelar.astro";
import ProjectCMMSPanel from "../components/projects/components/ProjectCMMSPanel.astro";
import ProjectLeonix from "../components/projects/components/ProjectLeonix.astro";
---

<section class="pl-6 mt-[60px]" id="projects">
    <MainH2 title="projects.title" />
    <div>
        <ProjectCMMSPanel />
        <ProjectLeonix />
        <ProjectInelar />
    </div>
</section>

