---
---

<header>
  <nav class="p-10 pl-4">
    <ul class="flex text-white font-montserrat text-xl pl-12">
      <li class="pr-5">
        <a href="#home" class="hover:border-b-4 hover:border-custom-cyan hover:pb-1 transition duration-300">Home</a>
      </li>
      <li class="pr-5">
        <a href="#aboutme" class="hover:border-b-4 hover:border-custom-cyan hover:pb-1 transition duration-300">About me</a>
      </li>
      <li class="pr-5">
        <a href="#skills" class="hover:border-b-4 hover:border-custom-cyan hover:pb-1 transition duration-300">Skills</a>
      </li>
      <li class="pr-5">
        <a href="#projects" class="hover:border-b-4 hover:border-custom-cyan hover:pb-1 transition duration-300">Projects</a>
      </li>
      <li class="pr-5">
        <a href="#contact" class="hover:border-b-4 hover:border-custom-cyan hover:pb-1 transition duration-300">Contact</a>
      </li>
      <li class="pr-5 ">
        <a href="/cv-leone.pdf" target="blank" class="bg-[#121212] p-2 rounded-lg">My CV</a>
      </li>
    </ul>
  </nav>
  <div class="pl-16 pt-36" id="home">
      <h1 class="font-montserrat font-bold text-6xl text-white border-b-8 mb-3 border-custom-cyan">Juan Cruz Leone</h1>
      <p class="font-montserrat font-semibold text-2xl text-white mb-16">Fullstack developer</p>
      <a href="#contact" class="bg-[#121212] p-2 rounded-lg text-white font-montserrat text-xl" aria-label="Contact Juan Cruz Leone">Contact me</a>
      <div class="flex justify-center mt-32">
        <img src="/flecha-abajo.png" alt="Flecha abajo" width="30" height="30">
      </div>
  </div>
</header>
