---

---

<header>
    <nav class="">
      <ul class="flex text-white font-montserrat text-xl pl-12">
        <li><a href="#inicio">Inicio</a></li>
        <li><a href="#sobremi">Sobre mi</a></li>
        <li><a href="#habilidades">Habilidades</a></li>
        <li><a href="#proyectos">Proyectos</a></li>
        <li><a href="#contacto">Contacto</a></li>
      </ul>
    </nav>
    <div class="pl-12 pt-20" id="inicio">
			<h1 class="font-montserrat font-bold text-6xl text-white border-b-8 mb-3 border-custom-cyan">Juan Cruz Leone</h1>
			<p class="font-montserrat font-semibold text-2xl text-white">Desarrollador web</p>
		</div>
  </header>
  



