---
interface Props {
    title: string
}

const { title } = Astro.props
---

<h2 class="text-black dark:text-white font-montserrat text-2xl border-b-[4px] border-light dark:border-celeste font-medium inline-block" data-i18n={title}></h2>

