---
interface Props {
    title: string
}

const { title } = Astro.props
---

<h3 class="font-montserrat text-black dark:text-white border-b border-black dark:border-white font-semibold text-xl" data-i18n={title}></h3>
