---
import MainH2 from "./Layouts/MainH2.astro";
---

<section id="projects" class="pl-16 mt-16">
    <MainH2 text="Projects" />
    <div class="mt-5">
        <div class="flex">
            <img src="/home-inelar.PNG" alt="Proyecto rediseño de página web" width="300" class="rounded-lg">
            <div class="pl-10">
                <h3 class="font-montserrat text-2xl text-white font-medium">Inelar</h3>
                <p class="bg-custom-cyan font-montserrat text-center rounded-lg w-20 mt-1">Fiction</p>
                <p class="font-montserrat text-s text-white mt-3">Descripción</p>
            </div>
        </div>
        <div class="flex mt-10">
            <img src="/home-greenpalate.PNG" alt="Proyecto comunidad de recetas" width="300" class="rounded-lg">
            <div class="pl-10">
                <h3 class="font-montserrat text-2xl text-white font-medium">Greenplate</h3>
                <p class="bg-custom-cyan font-montserrat text-center rounded-lg w-20 mt-1">Fiction</p>
                <p class="font-montserrat text-s text-white mt-3">Descripción</p>
            </div>
        </div>
        <div class="flex mt-10">
            <img src="/home-panel-edificios.png" alt="Proyecto panel para mantenimiento de edififcios" width="300" class="rounded-lg">
            <div class="pl-10">
                <h3 class="font-montserrat text-2xl text-white font-medium">building maintenance panel</h3>
                <p class="bg-custom-cyan font-montserrat text-center rounded-lg w-20 mt-1">Fiction</p>
                <p class="font-montserrat text-s text-white mt-3">Descripción</p>
            </div>
        </div>
    </div>
</section>