---
import MainH2 from "./Layouts/MainH2.astro";
---


<section id="skills" class="pl-16 mt-16">
    <MainH2 text="Skills" />
    <div class="mt-5 flex">
        <div class="bg-[#121212] w-16 h-16 rounded-lg flex justify-center items-center mr-4">
            <img src="/html-1.svg" alt="Logo html" width="30" height="30">
        </div>
        <div class="bg-[#121212] w-16 h-16 rounded-lg flex justify-center items-center mr-4">
            <img src="/css-3.svg" alt="Logo css" width="30" height="30">
        </div>
        <div class="bg-[#121212] w-16 h-16 rounded-lg flex justify-center items-center mr-4">
            <img src="/logo-javascript.svg" alt="Logo javascript" width="30" height="30">
        </div>
        <div class="bg-[#121212] w-16 h-16 rounded-lg flex justify-center items-center mr-4">
            <img src="/typescript.svg" alt="Logo typescript" width="30" height="30">
        </div>
        <div class="bg-[#121212] w-16 h-16 rounded-lg flex justify-center items-center mr-4">
            <img src="/tailwindcss.svg" alt="Logo tailwind" width="30" height="30">
        </div>
        <div class="bg-[#121212] w-16 h-16 rounded-lg flex justify-center items-center mr-4">
            <img src="/github-icon-1.svg" alt="Logo github" width="30" height="30">
        </div>
        <div class="bg-[#121212] w-16 h-16 rounded-lg flex justify-center items-center mr-4">
            <img src="/react.svg" alt="Logo react" width="30" height="30">
        </div>
        <div class="bg-[#121212] w-16 h-16 rounded-lg flex justify-center items-center mr-4">
            <img src="/vue-9.svg" alt="Logo vue" width="30" height="30">
        </div>
        <div class="bg-[#121212] w-16 h-16 rounded-lg flex justify-center items-center mr-4">
            <img src="/nextjs.svg" alt="Logo nextjs" width="30" height="30">
        </div>
        <div class="bg-[#121212] w-16 h-16 rounded-lg flex justify-center items-center mr-4">
            <img src="/astro_dark.svg" alt="Logo astro" width="30" height="30">
        </div>
        <div class="bg-[#121212] w-16 h-16 rounded-lg flex justify-center items-center mr-4">
            <img src="/vitejs.svg" alt="Logo vite" width="30" height="30">
        </div>
        <div class="bg-[#121212] w-16 h-16 rounded-lg flex justify-center items-center mr-4">
            <img src="/bootstrap-5-1.svg" alt="Logo bootstrap" width="30" height="30">
        </div>
        <div class="bg-[#121212] w-16 h-16 rounded-lg flex justify-center items-center mr-4">
            <img src="/nodejs-icon.svg" alt="Logo nodejs" width="30" height="30">
        </div>
        <div class="bg-[#121212] w-16 h-16 rounded-lg flex justify-center items-center mr-4">
            <img src="/expressjs_dark.svg" alt="Logo express" width="30" height="30">
        </div>
        <div class="bg-[#121212] w-16 h-16 rounded-lg flex justify-center items-center mr-4">
            <img src="/mongodb-icon-1.svg" alt="Logo mongodb" width="30" height="30">
        </div>
        <div class="bg-[#121212] w-16 h-16 rounded-lg flex justify-center items-center mr-4">
            <img src="/php_dark.svg" alt="Logo php" width="30" height="30">
        </div>
        <div class="bg-[#121212] w-16 h-16 rounded-lg flex justify-center items-center mr-4">
            <img src="/laravel-2.svg" alt="Logo laravel" width="30" height="30">
        </div>
        <div class="bg-[#121212] w-16 h-16 rounded-lg flex justify-center items-center mr-4">
            <img src="/mysql-6.svg" alt="Logo mysql" width="30" height="30">
        </div>
        <div class="bg-[#121212] w-16 h-16 rounded-lg flex justify-center items-center mr-4">
            <img src="/firebase.svg" alt="Logo firebase" width="30" height="30">
        </div>
        <div class="bg-[#121212] w-16 h-16 rounded-lg flex justify-center items-center mr-4">
            <img src="/adobe-photoshop-2.svg" alt="Logo photoshop" width="30" height="30">
        </div>
        <div class="bg-[#121212] w-16 h-16 rounded-lg flex justify-center items-center mr-4">
            <img src="/adobe-illustrator-cc-icon.svg" alt="Logo illustrator" width="30" height="30">
        </div>
        <div class="bg-[#121212] w-16 h-16 rounded-lg flex justify-center items-center mr-4">
            <img src="/figma.svg" alt="Logo figma" width="30" height="30">
        </div>
    </div>
</section>